CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
  Remove:
    - -Werror
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
Index:
  Background: Build
InlayHints:
  Enabled: true

